<?xml version="1.0"?>

<launch>
  
  <arg name="use_pad" default="true" />
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="0"/>
  <arg name="name" default="tortuga"/>
  <arg name="robot_namespace" default="/"/>
    
  <arg name="urdf-name" default="tortuga_description.gazebo.urdf.xacro"/>
  <arg name="urdf-path" value="$(find tortuga_description)/urdf/$(arg urdf-name)"/>
  <rosparam file="$(find tortuga_description)/config/tortuga_control.yaml"  command="load" />
  <include file="$(find tortuga_description)/launch/upload_tortuga.launch">
    <arg name="urdf-name" value="$(arg urdf-name)"/>
    <arg name="urdf-path" value="$(arg urdf-path)"/>
  </include>

  <node name="spawn_tortuga" pkg="gazebo_ros" type="spawn_model" args="
    -param robot_description 
    -urdf 
    -x $(arg x) 
    -y $(arg y) 
    -z $(arg z) 
    -R $(arg R) 
    -P $(arg P) 
    -Y $(arg Y) 
    -model $(arg name) 
    -robot_namespace $(arg robot_namespace)
  "/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen"   args="
        joint_state_controller  
        right_wheel_controller
        left_wheel_controller
      "
      >
  </node>
  <!--
	right_wheel_controller
	left_wheel_controller
	back_wheel_controller
	back_wheel_hinge_controller
  
  
  -->
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
     <param name="publish_frequency" type="double" value="50.0" />
     <param name="tf_prefix" type="string" value="$(arg robot_namespace)" />
   </node>
   <include file="$(find hector_quadrotor_teleop)/launch/logitech_gamepad.launch"/>
  <!--
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  -->
</launch>