<?xml version="1.0"?>

<robot name="tortuga_motors" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="tortuga_motor_macro" params="name parent *axis">
    <link name="${name}_in">
      <visual>
        <geometry>
          <mesh filename="package://tortuga_description/meshes/tortuga_motor.dae"  />
        </geometry>
      </visual>
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0" />
	<mass
	  value="0.001" />
	<inertia
	  ixx="0.000000001" ixy="0" ixz="0"
	  iyy="0.000000001" iyz="0"
	  izz="0.000000001" />
      </inertial>
    </link>
    <joint name="${name}_in_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <parent link="${parent}"/>
      <child link="${name}_in"/>
    </joint>
    <link name="${name}_out"/>
    
    <joint name="${name}_out_joint" type="fixed">
      <origin xyz="0.0 -0.08 0.0" rpy="${0.5 * PI} 0.0 0.0"/>
      <parent link="${name}_in"/>
      <child link="${name}_out"/>
    </joint>
  </xacro:macro>  
</robot>