<?xml version="1.0" encoding="utf-8"?>
<launch>
  
  <arg name="tf_prefix" default=""/>
  <arg name="use_ns" default="true"/>
  
  <include file="$(find tortugabot_bringup)/launch/launch_standard/laser_raw.launch" pass_all_args="true"/>
  <node name="laser_filter" pkg="laser_range_filter" type="filter.py">
  <remap from="scan"               to="/turtle/scan"/>
  </node>

  <node name="laser_on_plate_tf" pkg="tf" type="static_transform_publisher"
        args="0.05 0 0.36 0 0 0 $(arg tf_prefix)/base_footprint $(arg tf_prefix)/laser 100"/>

</launch>
